In [2]:
import numpy as np
import pandas as pd

In [3]:
w = np.array([0.1, 0.2, 0.3])
d = np.array([0.5, 1.3, 3.4])

In [4]:
w = w - 0.1 * d

In [5]:
w

array([ 0.05,  0.07, -0.04])

In [6]:
graph = {
    'x' : [-2, -1, 0, 1, 2],
    'y' : [0.13234, 0.47477, 0.8172, 1.15963, 1.50206]
}

In [7]:
df = pd.DataFrame(graph)
df['z'] = np.dot(df['x'], df['y'])

In [8]:
df['z'].sum()

np.float64(17.1215)

In [9]:
df['m'] = np.dot(7, df['z'])

In [10]:
df

   x        y       z        m
0 -2  0.13234  3.4243  23.9701
1 -1  0.47477  3.4243  23.9701
2  0  0.81720  3.4243  23.9701
3  1  1.15963  3.4243  23.9701
4  2  1.50206  3.4243  23.9701

In [11]:
x = np.array([])
val = 0

In [12]:
x = np.append(x, val)
x = np.append(x, val)

In [13]:
x = x + 5
x

array([5., 5.])

In [14]:
res = 3 * x + 5

In [15]:
res

array([20., 20.])

In [16]:
add = np.square(np.add(res, -10))

In [17]:
res = res - 10
res

array([10., 10.])

In [18]:
add.sum()

np.float64(200.0)

In [19]:
df['z'] = df['x'] * 0.5 + 5

In [20]:
df

   x        y    z        m
0 -2  0.13234  4.0  23.9701
1 -1  0.47477  4.5  23.9701
2  0  0.81720  5.0  23.9701
3  1  1.15963  5.5  23.9701
4  2  1.50206  6.0  23.9701

In [21]:
temp = np.array([df['x'], df['y']])
mult = np.array([1,2])

In [22]:
np.dot(mult[0], temp[0])

array([-2., -1.,  0.,  1.,  2.])

In [23]:
np.dot(mult[1], temp[1])

array([0.26468, 0.94954, 1.6344 , 2.31926, 3.00412])

In [28]:
test = np.zeros(5)

In [29]:
test

array([0., 0., 0., 0., 0.])